.pets{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pets-lista{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

